# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
output/
*.pdf
*.log

# IDEs
.vscode/
.idea/
